@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url('./assets/font/Inter/static/Inter_24pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('./assets/font/Inter/static/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('./assets/font/Inter/static/Inter_24pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('./assets/font/Inter/static/Inter_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-inter: "Inter";
  /* Primary */
  --color-primary-50: '#eff5ff';
  --color-primary-100: '#dbe8fe';
  --color-primary-200: '#bfd7fe';
  --color-primary-300: '#93bbfd';
  --color-primary-400: '#609afa';
  --color-primary-500: '#3b82f6';
  --color-primary-600: '#2570eb';
  --color-primary-700: '#1d64d8';
  --color-primary-800: '#1e55af';
  --color-primary-900: '#1e478a';
  --color-primary-950: '#172e54';

  /* secondary */
  --color-secondary-50: '#f0fdfc';
  --color-secondary-100: '#cdfaf5';
  --color-secondary-200: '#9cf3ed';
  --color-secondary-300: '#62e6e1';
  --color-secondary-400: '#32cfce';
  --color-secondary-500: '#1ababc';
  --color-secondary-600: '#118b90';
  --color-secondary-700: '#126f73';
  --color-secondary-800: '#13585c';
  --color-secondary-900: '#15484c';
  --color-secondary-950: '#052a2e';

  /* Success */
  --color-success-50: '#ecfdf7';
  --color-success-100: '#d1faec';
  --color-success-200: '#a7f3da';
  --color-success-300: '#6ee7bf';
  --color-success-400: '#34d39e';
  --color-success-500: '#10b981';
  --color-success-600: '#059666';
  --color-success-700: '#047852';
  --color-success-800: '#065f42';
  --color-success-900: '#064e36';
  --color-success-950: '#022c1e';

  /* Error */
  --color-error-50: '#fef2f2';
  --color-error-100: '#fee2e2';
  --color-error-200: '#fecaca';
  --color-error-300: '#fca5a5';
  --color-error-400: '#f87171';
  --color-error-500: '#ef4444';
  --color-error-600: '#dc2626';
  --color-error-700: '#b91c1c';
  --color-error-800: '#991b1b';
  --color-error-900: '#7f1d1d';
  --color-error-950: '#450a0a';

  /* Gray */
  --color-gray-50: '#f7f8f8';
  --color-gray-100: '#eeeef0';
  --color-gray-200: '#d8d9df';
  --color-gray-300: '#b7bbc2';
  --color-gray-400: '#8f94a1';
  --color-gray-500: '#717786';
  --color-gray-600: '#5b606e';
  --color-gray-700: '#4b4f59';
  --color-gray-800: '#3d4048';
  --color-gray-900: '#383a42';
  --color-gray-950: '#26272b';
}

body {
  font-family: "Inter";
}